body {
  color: #000000;
  font-family: georgia, serif;
  background: #A7A09A;
}

#wrap {
  width: 750px;
  margin: 20px auto 0 auto;
  padding: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #FFFFFF;
}

h1 {
  margin-bottom: 25px;
  border-bottom: 1px solid #FF6600;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

form.select_players label {
  margin-right: 10px;
  font-size: 14px;
}


#sidebar {
  float: left;
  width: 230px;
  padding: 10px;
  background: #eee;
}

#sidebar h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#sidebar li {
  font-size: 16px;
}

#sidebar p.description {
  margin-bottom: 1.25em;
  font-size: 12px;
  font-style: italic;
}

#sidebar .score {
  float: right;
  font-size: 12px;
}


#main {
  float: right;
  width: 480px;
  padding-left: 15px;
}

#main h2 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

#main p.your_turn a {
  display: block;
  padding: 10px;
  background: #f3f3f3;
}

#main p.your_turn a:hover {
  background: #d9d9d9;
}


.turn {
  margin-bottom: 20px;
}

.current_player {
  color: #FF0000;
}

.dice li {
  display: inline;
}

.dice li.point_earned {
  font-size: 12px;
}

p.score_for_turn {
  margin-bottom: 10px;
}

p.action {
  margin-bottom: 1em;
  padding-left: 10px;
  font-size: 12px;
  font-style: italic;
}

p.user_actions a {
  margin-right: 10px;
}

form .field {
  margin-bottom: 10px;
}

form .submit {
  margin-bottom: 10px;
}

.error_message {
  margin-bottom: 10px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  font-weight: bold;
  background: #d00;
}
