body {
  color: #000;
  font-family: georgia, serif;
  background: #eee url(/images/logo.png) no-repeat 50% 66px;
}

#wrap {
  width: 566px;
  margin: 0 auto;
  padding-top: 154px;
/*  background: rgba(255, 255, 255, 0.25); */
}

h1 {
  margin-bottom: 25px;
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
}

h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

form {
  font-family: helvetica, arial, sans-serif;
}

label {
  color: #333;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -0.025em;
}

input {
  font-family: arial, sans-serif;
}

input[type=submit] {
  border: 0;
  padding: 7px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0 #cf0000;
  background: #cf0000;
  -webkit-border-radius: 4px;
  cursor: pointer;
}


#sidebar {
  float: left;
  width: 187px;
}

#sidebar h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#sidebar li {
  font-size: 16px;
}

#sidebar p.description {
  margin-bottom: 1.25em;
  font-size: 12px;
  font-style: italic;
}

#sidebar .score {
  float: right;
  font-size: 12px;
}


#main {
  float: right;
  width: 350px;
  border: 1px solid #c3c3c3;
  background: #fff;
}

#main h2 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

#main p.your_turn a {
  display: block;
  padding: 10px;
  background: #f3f3f3;
}

#main p.your_turn a:hover {
  background: #d9d9d9;
}


.turn {
  margin-bottom: 20px;
}

.current_player {
  color: #FF0000;
}

.dice li {
  display: inline;
}

.dice li.point_earned {
  font-size: 12px;
}

p.score_for_turn {
  margin-bottom: 10px;
}

p.action {
  margin-bottom: 1em;
  padding-left: 10px;
  font-size: 12px;
  font-style: italic;
}

p.user_actions a {
  margin-right: 10px;
}

form .field {
  margin-bottom: 10px;
}

form .submit {
  margin-bottom: 10px;
}

.error_message {
  margin-bottom: 10px;
  padding: 5px 0 5px 10px;
  color: #ffffff;
  font-weight: bold;
  background: #d00;
}

form#new_game {
  padding: 50px 0 0 100px;
}

form#new_game label {
  display: block;
  margin-bottom: 5px;
}

form#new_game input[type=text] {
  width: 295px;
  border: 1px solid #b1b1b1;
  padding: 12px 5px;
  font-size: 24px;
  background: #fff;
}

form#select_players {
  padding: 50px 0 0 222px;
}

form#select_players .submit {
  padding-top: 20px;
}
