<html>
  <head>
    <%= stylesheet_link_tag 'styles' %>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1>Greed!</h1>
      </div>
      <div id="sidebar">
        <h2>Players</h2>
        <ul>
          <% @players.each do |player| -%>
            <%= render :partial => "player",
                  :locals => { :player => player, :current => false } -%>
          <% end -%>
        </ul>        
      </div>
      <div id="main">
        <h3>Rolls</h3>
        <% @turn_histories.each do |player, score, history| -%>
          <% history.each do |roll_data| -%>
            <%= render :partial => "rolls",
                  :locals => { :player => player, :roll_data => roll_data } -%>
          <% end -%>
        <% end -%>
      </div>
      <div id="footer">
        &nbsp
      </div>
    </div>
  </body>
</html>
