<div id="sidebar">
  <h2>Players</h2>
  <ul>
    <% @players.each do |player| -%>
      <%= render :partial => "player",
            :locals => { :player => player, :current => false } -%>
    <% end -%>
  </ul>        
</div>
<div id="main">
  <h3>Your Turn</h3>
  <%= render :partial => "rolls",
        :locals => { :player => @game.human_player, :roll_data => @roll_data } -%>
  <%= link_to "Roll again?", human_turn_game_path(@game) %>
  <%= link_to "Hold?", human_turn_game_path(@game) %>

</div>

