<% if current %>
  <li class="current_player"><%= player.name %></li>
<% else %>
  <li>
   <span class="score"><%= player.score %> points</span>
   <span class="player_name"><%= player.name %></span>
  </li>
<% end %>
<p class="description"><%=h player.description %></p>
