<div id="sidebar">
  <h1><span>total points</span></h1>
  <ul>
    <% @players.each do |player| -%>
      <%= render :partial => "player",
            :locals => { :player => player, :current => false } -%>
    <% end -%>
  </ul>        
</div>

<div id="main">
  <div id="rolls">
  <% @turn_histories.each do |turn_data| -%>
    <div class="turn">
      <h1><%= turn_data.player.name %>'s Turn</h1>
      <% turn_data.history.each do |roll_data| -%>
        <%= render :partial => "rolls",
              :locals => { :player => turn_data.player, :roll_data => roll_data } -%>
      <% end -%>
    </div>
  <% end -%>
  </div>
  <p><%= link_to "Start Your Turn", human_turn_game_path(@game), :class => 'button' %></p>
</div>

