<div id="sidebar">
  <h1><span>total points</span></h1>
  <ul>
    <% @players.each do |player| -%>
      <%= render :partial => "player",
            :locals => { :player => player, :current => false } -%>
    <% end -%>
  </ul>        
</div>

<div id="main">
  <div id="rolls">
    <div class="turn">
      <h1>Your Turn</h1>
      <%= render :partial => "rolls",
            :locals => { :player => @game.human_player, :roll => @roll } -%>

    </div>
  </div>
  <p>
    <%= link_to "Roll again", human_turn_game_path(@game), :class => 'button' %>
    <%= link_to "Hold", human_turn_game_path(@game), :class => 'button' %>
  </p>
</div>

