<html><head>
  
  <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
  <body>
    <div id="wrap">
      <div id="header">
        <h1>Greed!</h1>
      </div>
      <div id="sidebar">
        <h2>Players</h2>
        <ul>
          <li class="current_player">Randy</li>
          <p>Some description of him</p>
          <li>Sandy</li>
          <p>Some description of him</p>
        </ul>        
      </div>
      <div id="main">
        <h3>Rolls</h3>
        <ul class="dice">
          <li><img src="img/die1.gif"/></li>
          <li><img src="img/die2.gif"/></li>
          <li><img src="img/die3.gif"/></li>
          <li><img src="img/die4.gif"/></li>
          <li><img src="img/die5.gif"/></li>
        </ul>
        <p>Score: 500</p>
        <h3>Randy rolled again</h3>
      </div>
      <div id="footer">
        &nbsp
      </div>
    </div>
  </body></html>
